#listing.index
  :each article in articles.slice(0,15)
    .article
      .author
        .date{title: article.date}&= formatDate(article.date, "%Y.%m.%d")
      %h2
        %a{href: "/" + article.name}&= article.title
      = intro(article.markdown)
      %a.more{href: "/" + article.name} Read more...



#sidebar

  .bubble
    %h4
      Cloud
    #wordcloud
      :each cl in cloud
        %a{href: "/category/" + cl.tag, rel:cl.weight}&= cl.tag + "(" + cl.weight + ")"
        &#32;

  .bubble
    %h4
      Articles
    %ul
      :each article in articles.slice(0,20)
        %li
          %a{href: "/" + article.name}&=article.title

  .aside
    = markdownEncode(description)


